/*BODY STYLE*/
body {
    background-color: white;
    text-align: center;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff3333;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

#myBtn:hover {
    background-color: #ff1a1a;
    color: white;
    border: 1px solid black;
    transition-duration: 0.3s;
}

/* LOADER */
#loader {
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -65px 0 0 -65px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: rotate(0deg); -webkit-filter: drop-shadow(1px 1px 5px #8cff66);
 filter: drop-shadow(1px 1px 5px #8cff66); }
  100% { -webkit-transform: rotate(360deg); -webkit-filter: drop-shadow(1px 1px 5px #ff8533);
 filter: drop-shadow(1px 1px 5px #ff8533); }
}

@keyframes pulse {
  0% { transform: rotate(0deg); filter: drop-shadow(1px 1px 5px #8cff66);
 filter: drop-shadow(1px 1px 5px #8cff66); }
  100% { transform: rotate(360deg); filter: drop-shadow(1px 1px 5px #ff8533);
 filter: drop-shadow(1px 1px 5px #ff8533); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}
/*TEXT STYLES*/

.span1 {
	 color: red;
}

.span2 {
	 color: #ff4d4d;
}

.span3 {
     color: #ff4d4d;
}

.span4 {
     color: red;
}

.span3:hover {
    font-family: 'Oswald', sans-serif;
    color: #cc0000;
    text-decoration: none;
    transition-duration: 0.4s;
}

.txt2 {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 30px;
    cursor: default;
}

.txt3 {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 30px;
    cursor: default;
}

.txt4 {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 20px;
    cursor: default;
    font-weight:bold;
}

.txt5{
    color: black;
    cursor: default;
    font-family: 'Lobster', cursive;
}

.txt6 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 30px;
    cursor: default;
}

.albumlink {
    font-family: 'Oswald', sans-serif;
    color: green;
    font-size: 20px;
}

.albumlink:hover {
    font-family: 'Oswald', sans-serif;
    color: limegreen;
    text-decoration: none;
    transition-duration: 0.4s;
}

.albumlink2 {
    font-family: 'Oswald', sans-serif;
    color: #ff3399;
    font-size: 20px;
}

.albumlink2:hover {
    font-family: 'Oswald', sans-serif;
    color: #4da6ff;
    text-decoration: none;
    transition-duration: 0.4s;
}

.albumlink3 {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 20px;
    font-weight:bold;
}

.albumlink3:hover {
    font-family: 'Oswald', sans-serif;
    color: #cc0000;
    text-decoration: none;
    transition-duration: 0.4s;
}

.albumlink3:hover .span3 {
    font-family: 'Oswald', sans-serif;
    color: #cc0000;
    text-decoration: none;
    transition-duration: 0.4s;
}

.hone {
    color: white;
    font-family: 'Oswald', sans-serif;
    cursor: default;
}

.hone2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    background-color: #ff3333;
    padding: 20px;
    cursor: default;
}

.hone3 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    cursor: default;
    width: 100%
}

.htwo {
    color: white;
    font-family: 'Oswald', sans-serif;
    cursor: default;    
}

.hthree {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 1.6em;
}

.hthree:hover {
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 1.6em;
    text-decoration: none;
    transition-duration: 0.4s;
}

.menulink {
	 color: black;
	 font-family: 'Oswald', sans-serif;
	 font-size: 1.6em;
}

.eihr {
	 background-color: white;
	 margin-right: 19%;
	 margin-left: 27%;
}

.eihr2 {
	 background-color: white;
	 margin-right: 20%;
	 margin-left: 20%;
}

/*VIDEO STYLES*/
.videos {
  width: 700px;
  height: 450px;
}

/*IMAGE STYLES*/

.membsm {
    width: 40px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.membsm:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition-duration: 0.4s;
}

.headers {
    width: 100%
}

.albumpics {
    border: 2px solid black;
}

.bandsintown {
    width: 450px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
}

.bandsintown:hover {
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2px 2px 2px black);
    transition-duration: 0.1s;
}

.logo {
    width: 150px;
}

.logo:hover {
    -webkit-filter: drop-shadow(1px 1px 5px red);
    filter: drop-shadow(1px 1px 5px red);
    transition-duration: 0.1s;
}

.sm {
	 -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 50%;
}

.sm:hover {
     -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition-duration: 0.4s;
}

.fbsm {
    width: 30%;
}

.igsm {
    width: 40%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*CONTAINER STYLES*/

.albumlinkdivs {
    background-color: #ebebe0;
    padding: 5%;
}

.blackdivs {
    padding: 5%;
    background-color: black;
}

.firstcont {
  margin-top: 5%;
}

.mencols {
  	margin-top: 20px;
    margin-bottom: 20px;
}

.containers {
  	padding-bottom: 5%;
  	padding-top: 5%;
}

.menudivs:hover {
  background-color: black;
  transition-duration: 0.4s;
}

.menudivs:hover .menulink {
    color: white;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

#fdiv {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#theband {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

#discography {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

#events {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

#contact {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}